body {
    background-image: url("background.jpg");
    opacity: 0.9;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: brown;
    height: 400px;
   
  }
h4 {
  position: absolute;
  padding-top: 20px;
  padding-left: 50px;
  margin-top: 10px;
  font-family: monospace;
}
ul {
	font-size: 25px;
	font-family: monospace;
	font-weight: bold;
	margin-top: 45px;
	margin-right: 20px;	
}

a {
	color: white;
}

#first-sentence {
    
    position: absolute;
    margin-top: 400px;
    font-family:cursive;
    font-size: 40px;
    color: black;
    margin-left: 150px;
    text-align: center;
}
#second-sentence {
    
    position: absolute;
    margin-top: 480px;
    font-family: cursive;
    font-size: 40px;
    color: black;
    margin-left: 120px;
    margin-right: 120px; 
    text-align: center;
}
#second-div {
  background-color: gray;
  opacity: 0.01px;
  background-size: auto;
  position: absolute;
  margin-left: 0px;
  margin-top: 845px;
  width: 1311px;
  height: 1040px;
}
#talk-to-us {
  position: absolute;
  margin-top: 620px;
  margin-left: 70px;
  width: 200px;
  height: 50px;
}

#header-1 {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-family: monospace;
}
.landingpage {
  color: brown;
  font-family: cursive;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
}
.landingbody {
  color: white;
  font-family: cursive;
  font-size: 20px;
  padding-top: 14px;
}
.development {
  color: brown;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
  padding-top: 70px;
}
.developmentbody {
  color: white;
  font-family: cursive;
  font-size: 20px;
}
.logodesign {
  color: brown;
  font-family: cursive;
  font-size: 25px;
  text-align: center;
  padding-top: 70px;
}
.logodesignbody{
  color: white;
  font-family: cursive;
  font-size: 20px;

}
.wordpress {
  text-align: center;
  color: brown;
  font-family: cursive;
  font-size: 25px;
  padding-top: 70px;
}
.wordpresssecurity {
  color: white;
  font-family: cursive;
  font-size: 20px

  
}
#testimonials {
  background-color: gray;
  position: absolute;
  margin-top: 1890px;
  width: 1310px;
  color: white;
  height: 500px;
  opacity: 0.1px;
}
#t{
  text-align: center;
  padding-top: 30px;
  font-family: monospace;
}
#hire-us {
  background-color: white;
  color: brown;
  position: absolute;
  margin-top: 2395px;
  width: 1310px;
  height: 400px;
  font-size: 20px;
}
#h{
  padding-top: 80px;
  text-align: center;
  font-family: cursive;
}
#talk-to-us2 {
  position: absolute;
  margin-top: 25px;
  font-family: cursive;
  font-size: 20px;
  padding-left: 400px;
  color: black;
}
#talk-to-us3 {
  position: absolute;
  margin-top: 5000px;
}
#new {
  position: absolute;
  margin-top: 2600px;
  z-index: 2;
  margin-left: -500px;
}
#last-section {
  background-color: gray;
  height: 400px;
  margin-top: 2800px;
  position: absolute;
  width: 1310px;
  z-index: 4;
}

.mystylelist {
 margin-top: 80px;
 padding-left: 40px;
}
#copywrite {
  position: absolute;
  width: 1310px;
  background-color: white;
  height:380px;
  margin-top:2900px;
}
.mystylecopy {
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  color: brown;
  padding-top: 330px;
}
#aboutusmodaltitle {
  padding-left: 350px;
  font-size: 20px;
  font-family: monospace;
}
#aboutusmodalbody {
  background-color: black;
}
#aboutusmodalfooter {
  background-color: lightblue;
}
#formtitle {
  padding-left: 180px;
  font-family: monospace;
}
#form1{
  background-color: gray;
}
.form{
  font-family: monospace;
  width: 500px;
}
#textarea {
  width: 700px;
}
#modalbody{
  font-family: monospace;
  color: white;
}
#web {
  color: black;
  font-size: 20px;
  font-family: cursive;
  padding-top: 30px;
}
#contact {
   font-family: cursive;
   font-size: 20px;
   padding-top: 30px;
   color: black;
   padding-left: 140px;
}
.Webingenious {
  color: white;
  font-family: cursive;
}
.gmail {
  padding-top: 30px;
  margin-left: -2px;
  color: brown;
  font-size: 20px;
}

.lag {
  font-family: cursive;
  padding-top: 50px;
  padding-left: 30px;
}
.lagoss {
  color: white;
  font-family: cursive;
  padding-left: 30px;

}
.numb{
  color: brown;
  font-size: 20px;
  color: white;
  padding-top: 10px;
}
.first {
  text-align: center;
  color: lightblue;
  font-family: monospace;
  font-size: 20px;
  padding-top: 15px;
}
.avatar {
  margin-left: -250px;
  padding-top: 50px;
  width: 40px;
}
.peter {
  color: brown;
  margin-top: -30px;
  margin-left: 150px;
  font-size: 20px;
  font-family: monospace;
}
.second {
  text-align: center;
  color: lightblue;
  font-family: monospace;
  font-size: 20px;
  padding-top: 25px;
}
.anotheravatar {
  width: 35px;
  padding-top: 30px;
  margin-right: 400px;
}
.dan {
  position: absolute;
  color: brown;
  font-size: 20px;
  font-family: monospace;
  padding-left: 490px;
  margin-top: 35px;
}
.third {
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  color: lightblue;
  padding-top: 50px;
}
.boy1 {
margin-top: 20px;
width: 50px;
margin-left: -500px;
}
.kolapo {
  font-size: 20px;
  color: brown;
  position: absolute;
  padding-top: 40px;
  padding-left: 450px;
  font-family: monospace;
}
